.search-form {
  padding: 20px 0 20px 0;
  background-color: #F7F7FA;
  display: flex;
  width: 100%;
  .form-container {
    display: flex;
    height: 40px;
    margin-left: 30px;
    .form-title {
      font-size: 14px;
      line-height: 40px;
      margin-right: 20px;
    }
    .tilde {
      font-size: 14px;
      line-height: 40px;
      margin: 0 5px 0 5px;
    }
    .input-form {
      height: 40px;
      width: 200px;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
    .datepicker {
      width: 130px;
      border: 1px solid #aaa;
    }
  }
}

.select2-container {
  .select2-selection {
    height: 40px;
  }
  .select2-selection__rendered {
    font-size: 14px;
    .select2-search {
      line-height: 30px;
      padding-left: 10px;
    }
  }
  .select2-results__options {
    font-size: 12px;
  }
}
