.table-container {
	width: 960px;
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          color: #1E1E338C;
          white-space: nowrap;
          padding: 20px 10px 20px 10px;
          border-bottom: 2px solid #1E1E3326;
          &.selected {
            border-bottom: 2px solid #1E1E33;
            color: #1E1E33BF;
          }
        }
        &.header {
          background: #FFFFFF;
          width: 100%;
        }
        .started_at {
          width: 190px;
          .sort {
            display: flex;
            justify-content: space-between;
            a {
              color: #1E1E338C;
              &.selected {
                color: #1E1E33BF;
              }
            }
          }
        }
        .time {
          width: 120px;
          .sort {
            display: flex;
            justify-content: space-between;
            a {
              color: #1E1E338C;
              &.selected {
                color: #1E1E33BF;
              }
            }
          }
        }
        .process_name {
          width: 200px;
        }
        .url {
          width: 400px;
        }
        .user_name {
          width: 120px;
        }
      }
    }
    tbody {
      tr {
        td{
          padding: 10px;
          &.started_at {
            text-align: right;
          }
          &.time {
            text-align: right;
          }
          &.empty {
            text-align: center;
            height: 800px;
            background: #FFFFFF;
            color: #1E1E338C;
            
            .empty-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              .empty-image {
                width: 240px;
                height: 212px;
              }
              p {
                line-height: 10px;
                &.bold {
                  margin-top: 30px;
                  margin-bottom: 20px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      tr:nth-child(even) {
        background: #FFFFFF;
        
      }
      tr:nth-child(odd) {
        background: #F7F7FA;
      }
    }
  }
}





